<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Subtitulo : {{subtitulo}}</p>

{{#each infoAlumnos}}

<p>{{nombre}} -- {{edad}}</p>

{{/each}}
<br>
<form method="post" action="/login/log">
<input type="text" name="nombre">
<input type="password" name="password">
<button type="submit"> Login </button>
</form>
